footer {
    background: rgb(224, 13, 13);
    background: linear-gradient(
      360deg,
      rgba(224, 13, 13, 1) 0%,
      rgba(18, 16, 16, 1) 65%,
      rgba(0, 0, 0, 1) 100%
    );
@include flex($jc:none);
    flex-direction: column;
    & section {
      display: flex;
      gap: 25rem;
    }

    & ul {
      list-style: none;
    }
  
      & a {
      text-decoration: none;
      color: #ffff;
      font-size: 12px;
    }
  
    & .logo {
      height: 60px;
      width: 60px;
    }
     & h2{
        font-size: 16px;
}

& h2,a {
        color: #ffff;
        text-transform: uppercase;
}

    & img {
        height: 40px;
        width: 40px;
    }
& article{
text-align: center;
}
}

@media only screen and (max-width: 768px) {
footer section {
flex-direction: column;
gap: 1rem; /* Ajusta el espacio entre los elementos */
}
}

